<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
        <link href="/css/style.css" rel="stylesheet">
        <style>
            .form{
width:300px;
margin:200px auto;
            }
            </style>
               <script>
if("serviceWorker" in navigator){

 navigator.serviceWorker
             .register('/js/sw.js')
             .then(function() { console.log('Service Worker Registered'); });


}
          </script>
    </head>
    <body>
        <div class="container">
        <div class="form">
            <p>EEDC APARTMENT SURVEY</p>
        <a href="/auth/google" class="btn btn-danger"><i class="fa fa-google" aria-hidden="true"></i> SignIn with Google</a> 
        </div>
         </div>   

    </body>
</html>